# Core distributed computing
pyspark>=3.5

# Data wrangling
pandas
numpy

# Visualization
matplotlib
seaborn

# Bioinformatics
biopython
pysam
cyvcf2

# Utilities
tqdm

# Notebook environment
jupyterlab
ipykernel

# Dev tools
black
isort
flake8
